
.container{
  width: 100vw;
  height: 100vh;
  display:flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.register-container{
  background: url("/public/assets/3.gif") center;
}

.login-container{
  background: url("/public/assets/3.gif") center;
}

.wrapper{
  width: 496px; /* 30%;*/
  padding: 20px;
  background-color:white;
  padding: 48px 16px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  @media only screen and (max-width: 380px){
      {width:"75%"}
  }
}

.login-container > .wrapper{
  width: 25%;
}


.btn-link{
  padding: 5px;
  margin: 5px 0px;
  text-decoration: underline;
  cursor: pointer;
}

.title{
  font-size: 32px;
  display: flex;
  justify-content: center;
  width: 464px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  color: #111111;
}

.form-input{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-text{
  margin: 0px 0px 0px 0px;
  padding: 10px;
}

.invalid-feedback{
  color: red;
  font-weight: 500;
}

.title-login{
  font-size: 24px;
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
}

.pwd-container {
  position: relative;
}

.pwd-container input {
  padding: 5px 30px 5px 10px;
  font-size: 20px;
}

.pwd-container img {
  cursor: pointer;
  position: absolute;
  width: 20px;
  right: 8px;
  top: 10px;
  background: transparent;
}

.inputBx{
  display: flex;
  flex-direction: column;
  width: 80%;
  padding-bottom: 15px;
}
.formBx{
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 8px;
  padding: 10px 18px;
}
 .formBx .inputBx button {
  width: 80%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #c1c9c1;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  background: transparent;
  color: #025041;
}

 .formBx .inputBx button[type="submit"] {
  color: #fff;
  background: #025041;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

 .formBx .inputBx button[type="submit"]:hover {
  background: #023d31;
}

.invalid-feedback{
  color: red;
}