@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

 .imgBx {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    width: 50%;
    height: 100%;
}

 .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 .imgBx .background-img img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 99vh;
    object-fit: cover;
}

.logo-corporate {
    position: absolute;
    bottom: 0px;
    transform: translate(0px, 0px);
    width: 100%;
    height: 40vh;
    background: linear-gradient(225deg, #025041, #fff);
    mix-blend-mode: screen;
}

.logo-niobi {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    width: 359px;
    height: 256px;
    transform: translate(150px, 150px);
}


.link{
    display: flex;
    color: #025041;
    
    gap: 15px;
    transition: all 0.5s;
  }
  
  .link:hover{
    color: #025041;
    transition: all 0.5s;
  }
  
  .active{
    background: rgb(102, 117, 102);
    color: #000;
  }
  
  .icon, .link_text{
    font-size: 20px;
  }

  .formBx {
    
  box-sizing: border-box;
  background: none;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 16px;
  gap: 24px;

  width: 496px;

  background: #FFFFFF;
  /* New brand/Grey 4 */

  border: 1px solid #DDDDDD;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.formBx-login{
  height: 60%;
}


.login{
  
width: 464px;
height: 40px;

/* Titles/H2 */

/* identical to box height, or 125% */

text-align: center;

/* New brand/Black */

color: #111111;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.login span{

  font-family: 'Faktum';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

  .formBx h2 {
    color: #025041;
    font-weight: 600;
    font-size: 1.5em;
    display: inline-block;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.formBx .inputBx {
    margin: 0px 0px;
    padding-bottom: 5px;
}

  .formBx .inputBx span {
    width: 40%px;
    height: 20px;
    font-family: 'Faktum';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #025041;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .formBx .inputBx input {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;
    
    width: 100%;
    height: 48px;
    
    /* Greys/White */
    
    background: #FFFFFF;
    /* Greys/Light Grey 2 */
    
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 1;
}

.formBx .inputBx input:hover {
    border-color: #023d41;
    box-shadow:rgba(22, 211, 123, 0.2) 0px 0px 0px 4px 2px 2px 2px 2px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    
}



  .form-button {
    /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 8px;

width: 368px;
height: 48px;

background: #023d31;
border-radius: 6px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

  .formBx .inputBx input[type="submit"]:hover {
    background: #023d31;
}

  .formBx .remember {
    margin-bottom: 10px;
    color: #023d41;
    font-weight: 400;
    font-size: 14px;
    width: 80%;
}

  .formBx .remember input[type="checkbox"] {
    margin-right: 0.2rem;
}

  .formBx .remember .link {
    
width: 368px;
height: 20px;

/* Small/Link */

font-family: 'Faktum';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-decoration-line: underline;

/* New brand/Grey 2 */

color: #707070;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

  .formBx .inputBx p {
    width: 278px;
height: 20px;

/* Small/Small */

font-family: 'Faktum';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

text-align: center;

/* Greys/Black */

color: #111111;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

@media (max-width: 768px) {
     .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
    }

      .formBx {
        width: 80%;
        padding: 40px;
        background: rgb(255 255 255 / 0.4);
        margin: 5px;
    }

      .formBx h3 {
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0rem;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #c1c9c1;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.social-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  
  width: 100%;
  height: 48px;
  color: #FFFFFF;
  background:#025041;
  border-radius: 6px;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.social-login a{
  color: #fff;
}

.formBx{
}
  .formBx .social-login-item {
    display: flex;
    align-items: center;
    height: 45px;
    border: 1px solid #c1c9c1;
    border-radius: 5px;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    width: 40%;
    margin: 0.3rem;
    cursor: pointer;
    height: 100%;
    padding: 5px 0px;
}
  .formBx .social-login-item:hover {
    background: #025041;
}

.social-box{
  height:40px;
}

  .formBx .social-login-item a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    color: #025041;
    outline: none;
    background: transparent;
}
  .formBx .social-login-item:hover a{
    color:#fff;
 }


  .formBx .social-login-item input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #c1c9c1;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 5px;
    background: transparent;
    color: #025041;
}

.centerText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: 'Nunito', sans-serif;
}

.centerText p {
    color: #025041;
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
}

  .formBx .header- .welcome span {
    font-weight: 900;
    font-size: 32px;
    line-height: 0%;
}

  .formBx .header- .details span {
    font-weight: 400;
    font-size: 14px;
    line-height: 0%;
    letter-spacing: 0.04em;
    color: #868A8F;
}
.inputBx .centerText p{
    min-width: 0px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: #000;
}

.invalid-Login span{
    margin: 8px 0px 0px;
    min-width: 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(255, 71, 93);
}

select{
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  gap: 8px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 1;
}